@font-face {
    font-family: 'Monteserrat';
    src: url(./../../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.Navbar {
    background-color: rgba(248, 248, 248, 0.6);
    width: 100%;
    padding: 30px 50px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu {
    display: flex;
    gap: 50px;

    li {
        font-family: 'Monteserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}


.input{
    display: flex;
    gap: 50px;
    input{
        width: 128px;
        height: 36px;
        border-radius: 20px;
        padding: 10px;
        border: 2px solid #000;
        outline: 0;
    }
}